/VulkanTutorialApp/**

!/VulkanTutorialApp/**/

/VulkanTutorialApp/**/*.h
/VulkanTutorialApp/**/*.hpp
/VulkanTutorialApp/**/*.cpp

!/VulkanTutorialApp/**/*.h
!/VulkanTutorialApp/**/*.hpp
!/VulkanTutorialApp/**/*.cpp