# Ignore everything in VulkanTutorialApp by default
/VulkanTutorialApp/**

# But don't ignore subdirectories (so we can selectively unignore files)
!/VulkanTutorialApp/**/

# Ignore Tracy folder completely
/VulkanTutorialApp/Tracy/**

# Re-include source files everywhere else
!/VulkanTutorialApp/**/*.h
!/VulkanTutorialApp/**/*.hpp
!/VulkanTutorialApp/**/*.cpp